body{
    margin: 0;
}

.corpo {
    height: 944px;
    background-image: linear-gradient(#004eb9, #0149af, rgb(9, 21, 50));
}

.card-color {
    background-image: linear-gradient(#0150e9, #0149af);
    opacity: 0.8;
}

.card-hover {
    transition: 300ms linear; 
}

.card-hover:hover {
    box-shadow: 0px 0px 0px 5px rgb(255, 255, 255);
    transform: scale(1.1);
}

.games {
    transition: 300ms linear; 
}

.games:hover {
    box-shadow: 0px 0px 0px 5px rgb(255, 255, 255);
    transform: scale(1.1);
    z-index: 1;
}

.games.active {
    box-shadow: 0px 0px 0px 5px rgb(255, 255, 255);
    transform: scale(1.1);
    z-index: 1;
  }

.note {
  margin-top: 50px;
  padding: 8px;
  background-color: #222;
  color: white;
  border-radius: 6px;
  font-size: 20px;
}
  